<% if (currentUser && currentUser.role==='Admin' ) {%>
    <% layout('layouts/admin') %>
        <% } else {%>
            <% layout('layouts/boilerplate') %>
                <% } %>

                    <div class="d-flex justify-content-center mb-3">
                        <form id="form-game" action="/games" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                            <input type="text" name="search" id="search-game" class="search-game"
                                placeholder="Search...">
                        </form>
                    </div>
                    <div class="d-flex flex-wrap justify-content-between">
                        <% games.forEach((game, index)=> {%>
                            <a class="card-link" href="games/<%= game.id %>">
                                <div class="card game-card mb-3" style="width: 14rem;">
                                    <% if (game.cover) {%>
                                        <img src="https://images.igdb.com/igdb/image/upload/t_1080p/<%= game.cover.image_id %>.jpg"
                                            class="card-img-top img-game" alt="...">
                                        <% } else { %>
                                            <% } %>
                                                <div class="card-body" style="padding: 8px;">
                                                    <p class="card-title">
                                                        <% if (game.name.length> 20) {%>
                                                            <%- game.name.slice(0, 19) %>...
                                                                <% } else { %>
                                                                    <%= game.name %>
                                                                        <% } %>
                                                    </p>
                                                    <div class="game-grade">
                                                        <%- Math.round(game.rating) %>%
                                                    </div>
                                                </div>
                                </div>
                            </a>
                            <% }); %>
                    </div>