<% layout('layouts/admin') %>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">All Users</h1>
            <p class="text-center lead">The registered users are below:</p>
            <% if(userList.length> 0) {%>
                <div class="responsive-table">
                    <table class="table table-hover table-dark table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">Username</th>
                                <th scope="col">User Email</th>
                                <th scope="col">User Role</th>
                                <th class="col">User Favorites</th>
                                <th scope="col">Edit User</th>
                                <th scope="col">Delete User</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% userList.forEach(user=> { %>
                                <tr class="userList">
                                    <td>
                                        <a href="/profiles/<%=user.id%>" class="delete">
                                            <%= user.username %>
                                        </a>
                                    </td>
                                    <td>
                                        <%= user.email %>
                                    </td>
                                    <td>
                                        <%= user.role %>
                                    </td>
                                    <td>
                                        <a href="/profiles/<%=user.id%>/favorites" class="delete">Favorites</a>
                                    </td>
                                    <td>
                                        <a href="/profiles/<%=user.id%>/edit" class="delete">Edit</a>
                                    </td>
                                    <td style="padding: 2px 0 0 0">
                                        <form class="d-inline" action="/profiles/<%= user.id %>?_method=DELETE"
                                            method="POST">
                                            <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                                            <button class="btn btn-link delete">Delete</button>
                                        </form>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                </div>
                <% } else { %>
                    <p class="text-center lead">There are no registered users in this application.</p>
                    <% } %>
        </div>
        <div class="col-lg-2"></div>
    </div>