<% if (currentUser && currentUser.role==='Admin' ) {%>
    <% layout('layouts/admin') %>
        <% } else {%>
            <% layout('layouts/boilerplate') %>
                <% } %>

                    <div class="row">
                        <div class="col-lg-2"></div>
                        <div class="col-lg-8">
                            <div
                                class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                                <div class="col d-flex flex-column position-static">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item"><strong>Username: </strong>
                                            <%= user.username %>
                                        </li>
                                        <li class="list-group-item"><strong>First Name: </strong>
                                            <%= user.first_name %>
                                        </li>
                                        <li class="list-group-item"><strong>Last Name: </strong>
                                            <%= user.last_name %>
                                        </li>
                                        <li class="list-group-item"><strong>Email: </strong>
                                            <%= user.email %>
                                        </li>
                                        <li class="list-group-item"><strong>Role: </strong>
                                            <%= user.role %>
                                        </li>
                                        <li class="list-group-item"><strong>Age: </strong>
                                            <%= user.age %>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-auto d-lg-block">
                                    <img src="https://images.unsplash.com/photo-1559969143-b2defc6419fd?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=843&q=80"
                                        class="card-img-top" alt="..." style="width: 230px; height: 100%;">
                                </div>
                            </div>
                            <div class="d-flex flex-column bd-highlight">
                                <a href="/profiles/<%=user.id%>/edit" class="card-link text-white btn btn-info">Edit</a>

                                <form class="d-flex flex-column bd-highlight mt-3"
                                    action="/profiles/<%=user.id%>?_method=DELETE" method="POST">
                                    <input type="hidden" name="_csrf" value="<%= csurfToken %>">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </div>
                        <div class=" col-lg-2">
                        </div>
                    </div>